.contact-us {
    display: flex;
    justify-content: center;
    align-items: center;

    button {
        width: auto;
        height: auto;
        border-radius: 5px;
        padding: 6px 12px;
        font-family: Gilroy, sans-serif;
        font-weight: 500;
        font-size: 18px;
        line-height: 21.83px;
        text-align: center;
        background-color: rgba(29, 81, 71, 1);
        color: rgba(255, 255, 255, 1);
        border: none;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
    }

    button:hover {
        background-color: rgb(50, 99, 129);
        // transform: scale(1.05);
    }

    @media (max-width: 768px) {
        button {
            width: auto;
            height: 38px;
            font-size: 16px;
        }
    }

    @media (max-width: 480px) {
        button {
            width: auto;
            height: 35px;
            font-size: 14px;
        }
    }
}
