.main-navbar_header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .main-logo {
    flex: 1;
    display: flex;
    align-items: center;
    object-fit: contain;
    image-rendering: crisp-edges;
  }

  .navbar {
    flex: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 5px;

    a {
      text-decoration: none;
      font-family: "Gilroy", sans-serif;
      font-weight: 500;
      font-size: 16px;
      color: #272727;
      transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;

      &:hover {
        color: #0070f3;
        transform: scale(1.05);
      }
    }
  }

  .right-side {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
    position: relative; 
    z-index: 1000;
  }

  .language-selector {
    select {
      padding: 5px 10px;
      border: none;
      background: #fff;
      font-size: 16px;
      cursor: pointer;
    }
  }

  .burger-menu {
    display: none;
    cursor: pointer;

    svg {
      width: 25px;
      height: 25px;
      color: #272727;
      transition: 0.3s;
    }
  }
}

.burger-dropdown {
  position: absolute;
  top: 60px; 
  right: 10px;
  width: 200px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  z-index: 999; 

  nav {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .close-icon {
    font-size: 24px;
    color: #272727;
    cursor: pointer;
    text-align: right;
    transition: color 0.3s ease-in-out;
    position: absolute;
    right: 5px;
    top: 5px;

    &:hover {
      color: #0070f3;
    }
  }

  a {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 18px;
    color: #272727;
    text-decoration: none;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: #0070f3;
    }
  }
}

@media (max-width: 768px) {
  .main-navbar_header {
    .navbar {
      display: none;
    }

    .main-logo {
      width: 100%;
      height: auto;
      a{
        img{
          width: 100%;
          height: 80px;
        }
      }
    }
  

    .burger-menu {
      display: flex;
      align-items: center;
    }
  }

  .burger-dropdown {
    display: flex;
  }
}