.feedback {
  text-align: center;
  margin: 8% 0 3%;
}

.feedback-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 7%;

  &_text {
    h2 {
      font-family: Federo;
      font-weight: 400;
      font-size: 42.78px;
      line-height: 50.4px;
      letter-spacing: 2%;
      color: rgba(39, 39, 39, 1);
    }

    p {
      font-family: Gilroy;
      font-weight: 400;
      font-size: 26px;
      line-height: 31.2px;
      letter-spacing: 2%;
      color: rgba(19, 50, 64, 1);
      text-align: left;
      margin-top: 3%;
    }
  }
}

.controls {
  display: flex;
  gap: 10px;
}

.feedback-header_previous,
.feedback-header_next {
  padding: 8px 16px;
  border: 0.5px solid rgb(83, 72, 72);
  border-radius: 5px;
  background-color: inherit;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.feedback-header_previous:hover,
.feedback-header_next:hover {
  background-color: rgba(29, 81, 71, 0.1);
}

.feedback-header_next {
  background-color: rgba(29, 81, 71, 1);
  color: rgba(255, 255, 255, 1);
}


.feedback-carousel {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.feedback-carousel1 {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-left: 13%;
}




.carousel-track {
  display: flex;
  gap: 10px;
}

.testimonial-card {
  flex: 0 0 calc(100% / 2.5); 
  background: #fff;
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: left;
  transition: transform 0.3s ease; 
}


.testimonial-card:hover {
  transform: scale(1.02);
}

.card-header {
  display: flex;
  justify-content: space-between;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%; 
    object-fit: cover;
  }
}



@media (max-width: 1110px) {
  .testimonial-card {
    flex: 0 0 calc(100% / 2);
  }
}

@media (max-width: 768px) {
  .feedback-carousel {
    width: 90%;

  }
  .feedback-carousel1 {
    margin: 0;
  }

  .testimonial-card {
    flex: 0 0 calc(100% / 1);
  }

  .feedback-header {
    flex-direction: column;
    align-items: flex-start;

    &_text {
      h2 {
        font-size: 32px;
        line-height: 40px;
      }

      p {
        font-size: 20px;
        line-height: 24px;
      }
    }

    .controls {
      margin-top: 20px;
    }
  }
}

@media (max-width: 480px) {
  .feedback-carousel {
    width: 90%;
  }

  .feedback-header {
    &_text {
      h2 {
        font-size: 24px;
        line-height: 30px;
      }

      p {
        font-size: 16px;
        line-height: 20px;
      }
    }
  }

  .testimonial-card {
    padding: 15px;

    .card-header {
      flex-direction: column;
      align-items: center;

      img {
        width: 60px;
        height: 60px;
      }
    }
  }
}