.feedback-card {
  width: 100%;
  padding: 15px;
  border: 1.34px solid #d1d5db;
  border-radius: 5px;
  background-color: #fff;
  margin-top: 2%;

  &_people {
    display: flex;
    justify-content: space-between;
    gap: 16px;
  }

  &_img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    object-fit: cover;
  }

  &_name {
    font-family: Gilroy;
    font-weight: 600;
    font-size: 23px;
    text-align: left;
    color: #133240;
  }

  &_comment {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 15px;
    color: #133240;
  }
}


.feedback_button-orqaga {
  width: auto;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  color: #272727;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 16px;
}

.feedback_button-oldinga {
  width: auto;
  font-family: Gilroy;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;
  background-color: #1D5147;
  color: #FFFFFF;
  border-radius: 5px;
  border: 1px solid black;
  padding: 8px 16px;
}

.navigation-buttons {
  display: flex;
  gap: 20px;
}

.feedback-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 5%;
}

.feedback-text {
  h2 {
    font-family: Federo;
    font-weight: 400;
    font-size: 42.78px;
    line-height: 100%;
    letter-spacing: 2%;
    text-align: center;
    color: #272727;
  }

  p {
    font-family: Gilroy;
    font-weight: 400;
    font-size: 26px;
    line-height: 100%;
    letter-spacing: 2%;
    color: #133240;
    margin: 2% 0 3% 0;
  }
}